body {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Futura";
  font-size: larger;
  margin: 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

button:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#add-note {
  background-color: hsl(222, 100%, 75%);
  border: 1px solid hsl(222, 100%, 70%);
}

#remove-all {
  background-color: hsl(0, 100%, 75%);
  border: 1px solid hsl(0, 100%, 70%);
}

#sticky-notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  background-color: rgb(255, 255, 0);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  margin: 2px;
}

.fa-times {
  align-self: flex-end;
  color: red;
  float: right
}

textarea {
  background-color: inherit;
  border-style: none;
  outline-style: none;
  height: 100%;
}
